/* Base styling for the contact section */
.contact {
    max-width: 680px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin-top: 100px;
  }
  
  /* Contact header section */
  .contact-header {
    margin-bottom: 40px;
  }
  
  .contact-profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .contact h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .contact p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  .contact a {
    color: white;
    text-decoration: none;
  }
  
  .contact-btn {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .contact-btn:hover {
    background-color: #333;
  }
  
  /* Social Icons styling */
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
  }
  
  .social-icons a {
    font-size: 24px;
    color: #333;
  }
  
  .social-icons a:hover {
    color: #000;
  }




