/* Base styling for the skills section */
.skills {
    margin-top: 15px;
    max-width: 680px;
    padding: 20px;
    font-family: 'Inter', sans-serif;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .skills h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .skills .intro {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 20px;
  }
  
  /* Styling for individual skill categories */
  .skill-category {
    margin-bottom: 15px;
  }
  
  .skill-category h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  /* Styling for the skill badges */
  .skills-list {
    display: flex;
    flex-wrap: wrap; /* Ensures that skills wrap to the next line if needed */
    gap: 10px; /* Space between skill badges */
    padding-bottom: 30px;
    border-bottom: 1px solid #eaeaea; /* Separator line between categories */
  }
  
  /* Remove the border-bottom for the last skill category */
  .skill-category:last-child .skills-list {
    border-bottom: none; /* No border for the last category */
  }
  
  .skill-badge {
    background-color: #f3f4f6;
    color: #333;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 20px;
    display: inline-block;
    font-weight: 500;
  }
  
  /* Responsive Styles */
  @media (max-width: 800px) {
    .skills {
      width: 100%;
      margin-left: -20px;
    }
  
  
    .skill-badge {
      padding: 8px 12px;
    }
  }